<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo" %>
  </a>
  <div></div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <a href="/restaurants" class="navbar-wagon-item navbar-wagon-link">Restaurants</a>
    <a href="/restaurants/new" class="navbar-wagon-item navbar-wagon-link">Add a restaurant</a>
  </div>
</div>
